body {
    background-image: url("https://images.unsplash.com/photo-1536257104079-aa99c6460a5a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80;");
    background-size: cover;
    background-attachment: fixed;
}

.navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar li a {
    color: white;
    font-weight: bold;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FF5A5F;
    color: white;
    text-align: center;
}