<h1> Name </h1>
<form action='/list_new_room' method='post'  enctype="multipart/form-data">
  <input type='text' name='name'></input>
<h1> Price </h1>
  <input type='number' min="0" name='price'></input>
<h1> Description </h1>
  <input type='text' name='description'></input>
<h1> Available from </h1>
  <input type='date' name='available_from'></input>

<h1> Available to </h1>
  <input type='date' name='available_to'></input>
  <h1>Upload Image</h1>
  <input type="file" name="image">
  <br>
  <br>
  <input type='submit' value='List Room'>
</form>
