<h1> Name </h1>
<form action='/list_new_room' method='post'>
  <input type='text' name='name'></input>
<h1> Price </h1>
  <input type='text' name='price'></input>
<h1> Description </h1>
  <input type='text' name='description'></input>
  <br>
  <br>
  <input type='submit' value='List Room'>
</form>

