<h1>New user signup</h1>
<p>
<h3> First Name </h3>
<form action='/register' method='post'>
  <input type='text' name='firstname' required></input>
  <h3> Last Name </h3>
  <input type='text' name='lastname' required></input>
<h3> Email </h3>
  <input type='email' name='email' required></input>
<h3> Password </h3>
  <input type='password' name='password' required></input>
  <br>
  <br>
  <input type='submit' value='Sign up'>
</form>
